body {
    background: linear-gradient(135deg, #4B79A1, #283E51);
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.wallet-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 95%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.amount-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.amount-card {
    width: 48%;
    background: #eeeeee;
    padding: 14px;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 18px;
}

.amount-card.active {
    background: #4B7BFF;
    color: white;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    background: #4B7BFF;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

.payment-info {
    margin-top: 10px;
}
